{% extends "layout.twig.html" %}
{% block content %}
<form action="{{ url.submit() }}" id="addentry" name="addentry" method="post" class="well">
	{% if form.submit -%}
	<div class="alert alert-{% if not form.success %}error{% else %}success{% endif %}">
		<a class="close" data-dismiss="alert">&#215;</a>
		{% if not form.success -%}
			<h4 class="alert-heading">Error</h4>
			{{ form.error }}
		{%- else -%}
			<h4 class="alert-heading">Form submitted successfully</h4>
			Your entry was been submitted successfully and can be viewed <a href="{{ url.archive_id(form.new_id) }}">here</a>.
		{%- endif %}
	</div>
	{%- endif %}
	<fieldset>
		<legend>submit new entry</legend>

		<label class="control-label" for="rating">content rating</label>
		<div class="controls rating-group btn-group" data-toggle="buttons-radio" id="rating">
			<button id="rating-safe" name="rating-safe" class="btn btn-success btn-small{% if post.rating == constant('codebite\\homebooru\\Model\\BooruPostModel::RATING_SAFE') %} active{% endif %}" data-toggle="button">safe</button>
			<button id="rating-questionable" name="rating-questionable" class="btn btn-warning btn-small{% if post.rating == constant('codebite\\homebooru\\Model\\BooruPostModel::RATING_QUESTIONABLE') %} active{% endif %}" data-toggle="button">questionable</button>
			<button id="rating-explicit" name="rating-explicit" class="btn btn-danger btn-small{% if post.rating == constant('codebite\\homebooru\\Model\\BooruPostModel::RATING_EXPLICIT') %} active{% endif%}" data-toggle="button">explicit</button>
		</div>

		<br>
		<input class="span5" id="file" name="file" size="30" type="text" placeholder="filename">
		<br>

		<input class="span5" id="source" name="source" size="30" type="text" placeholder="source (optional)">

		<br>
		<textarea class="input-xxlarge" id="tags" name="tags" rows="3" placeholder="tags">{{ form.prev.tags }}</textarea>

		<input type="hidden" name="formkey" value="{{ form.key }}">
		<input type="hidden" name="formtime" value="{{ form.time }}">
		<input type="hidden" name="submit" value="1">
		<br><br><button type="submit" class="btn">Submit</button>&nbsp;<button type="reset" class="btn">Cancel</button>
	</fieldset>
</form>
{% endblock %}
