{% extends "layout.twig.html" %}
{% block content %}
	<h2>view {% if page.tag_latest %}recently added {% endif %}tags</h2>

{% if tags -%}
	{% for i in 0..1 %}
	{% set l = loop %}
	<div class="pull-{% if loop.index is even %}left{% else %}right{% endif %}">
		<table class="table table-condensed table-striped tag-list">
		{% for tag in tags %}
			{% if (l.index is even and loop.index is odd) or (l.index is odd and loop.index is even) %}
			<tr>
				<td class="span3"><a class="tag-text tag-text-{{ tag.getType() }}" href="{{ url.search_tag(tag.title|url_encode) }}" title="{{ tag.getDescription() }}">{{ tag.title|replace({'_':' '}) }}</a></td>
				<td>{{ tag.tag_count }} entr{% if tag.tag_count != 1 %}ies{% else %}y{% endif %}</td>
				<td><span class="btn-group">
					<a class="btn btn-mini" href="{{ url.tag_edit(tag.id) }}">Edit</a>
					<a class="btn btn-mini" href="{{ url.tag_alias(tag.id) }}">Alias</a> <a class="btn btn-mini btn-danger" href="{{ url.tag_delete(tag.id) }}">Delete</a>
				</span></td>
			</tr>
			{% endif %}
		{% endfor %}
		</table>
	</div>
	{% endfor %}
	<div class="clear"></div>
{% else %}
	<div class="shana"><img src="{{ asset.image.shana_hmph }}" alt="hmph!"></div>
	<h3 class="caption">Nothing to see here yet.<br>  Move along or <a href="{{ url.submit() }}">submit something</a>.</h3>
{% endif %}
	{% if pagination -%}
	<div class="pagination pagination-right">
		<ul>
			<li{% if pagination.current == pagination.first %} class="disabled"{% endif %}><a href="{% if pagination.current == pagination.first %}#{% else %}{{ url.tag_archive_page(pagination.first) }}{% endif %}">&laquo;</a></li>
			{% for page in pagination.pages -%}
			<li{% if pagination.current == page %} class="active"{% endif %}><a href="{% if pagination.current == page %}#{% else %}{{ url.tag_archive_page(page) }}{% endif %}">{{ page }}</a></li>
			{%- endfor %}
			<li{% if pagination.current == pagination.last %} class="disabled"{% endif %}><a href="{% if pagination.current == pagination.last %}#{% else %}{{ url.tag_archive_page(pagination.last) }}{% endif %}">&raquo;</a></li>
		</ul>
		<!-- f:{{ pagination.first }} p:{{ pagination.prev }} c:{{ pagination.current }} n:{{ pagination.next }} l:{{ pagination.last }} t:{{ pagination.total }} ex uri: {{ url.tag_archive_page(1) }} -->
	</div>
	{% endif %}
{% endblock %}
